<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Urban Banking</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-color">
        <div class="container">
            @Html.ActionLink("FBZ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white fw-bold" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    
                </ul>
                <ul class="navbar-nav ">
                    @if (Session["User"] == null)
                    {
                        <li>@Html.ActionLink("User Register", "UserResister", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Profile", "Profile", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
                <!-- Footer -->
                <footer class="text-center text-lg-start text-white bg-color">
                    <div class="container p-4 pb-0">
                        <section class="">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                    <h6 class="text-uppercase mb-4 font-weight-bold">
                                        Urban Banking
                                    </h6>
                                    <p>
                                        A secure and seamless digital banking platform designed to simplify financial management and enhance user experience.
                                    </p>
                                </div>
                                <hr class="w-100 clearfix d-md-none" />
                                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                                    <h6 class="text-uppercase mb-4 font-weight-bold">Essential Navigation Links</h6>
                                    <p>
                                        <a class="text-white nav-link">About Us</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Contact Us</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Careers</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Help Center / Support</a>
                                    </p>
                                </div>
                                <hr class="w-100 clearfix d-md-none" />
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                    <h6 class="text-uppercase mb-4 font-weight-bold">
                                        Legal & Compliance
                                    </h6>
                                    <p>
                                        <a class="text-white nav-link">Security</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Privacy Policy</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Terms & Conditions</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Cookies Policy</a>
                                    </p>
                                </div>
                                <hr class="w-100 clearfix d-md-none" />
                                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                    <h6 class="text-uppercase mb-4 font-weight-bold"> Services / Products</h6>
                                    <p>
                                        <a class="text-white nav-link">Personal/Business Banking</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Loans & Mortgages</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Credit Cards</a>
                                    </p>
                                    <p>
                                        <a class="text-white nav-link">Investment Services</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <hr class="my-3">
                        <section class="p-3 pt-0">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-7 col-lg-8 text-center text-md-start">
                                    <div class="p-3">
                                        &copy; @DateTime.Now.Year
                                        @Html.ActionLink("- FBZ Application", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white d-inline" }) 
                                    </div>
                                </div>
                                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                                    <a href="https://www.facebook.com/dinakrushana.mohanta.7" class="btn btn-outline-light btn-floating m-1" role="button">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://x.com/mohanta5673" class="btn btn-outline-light btn-floating m-1" role="button">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com/official_dina_adc/" class="btn btn-outline-light btn-floating m-1" role="button">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </footer>
                <!-- Footer -->
            
        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
